*{
    padding: 0%;
    margin: 0%;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: hsl(216, 12%, 8%);
    color: white;
    font-size: 15px;
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: hsl(213, 19%, 18%);
    width: 20rem;
    min-height: 300px;
    min-width: 300px;
    border-radius: 40px;
    margin-top: 60%;
}
main div{
    background-color: hsl(213, 19%, 18%);
}
h1{
    font-size: 20px;
    background-color: hsl(213, 19%, 18%);
}
p{
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
}
#starimg1{
    background: none;
    margin: 8px;
    height: 13px;
}
#star{
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: hsl(216, 14%, 14%);
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 22px;
}
#star1{
    margin-top: 20px;
    margin-left: 22px;
    margin-right: 22px;
}
#star2{
    margin-top: 10px;
    margin-left: 22px;
    margin-right: 22px;
}
#rating{
    display: flex;
}
.num{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    background-color: hsl(216, 14%, 14%);
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    color: hsl(217, 12%, 63%);
}
.num:hover{
    background-color:#fc7614 ;
    transition: 0.5s;
}
.sub{
    background-color: #fc7614;
    border: none;
    height: 40px;
    width: 16rem;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}
#submit{
    border-radius: 40px;
}




#img , .img{
    background-color:hsl(213, 19%, 18%);
}
#img{
    margin-top: 1rem;
    margin-left: 5rem;
    height: 6rem;
    width: 10rem;
    display: none;
}
#pjs p{
    background-color:hsl(213, 18%, 26%);
    height: 1.5rem;
    padding-top: 5px;
    border-radius: 20px;
    color: orange;
}
#pjs{
    background-color:hsl(213, 18%, 26%);
    width: 60%;
    text-align: center;
    margin-left: 4rem;
    margin-top: 1rem;
    margin-top: 1rem;
    display: none;
}

#h1{
    background-color:hsl(213, 19%, 18%);
    text-align: center;
    margin-top: 1rem;
    display: none;
}
#fip{
    display: none;
}
#fip p{
    text-align: center;
    margin-top: 1rem;
    font-size: 12px;
    background-color:hsl(213, 19%, 18%);
    padding-left: 2rem;
    padding-right: 2rem;
    color: hsl(217, 12%, 63%);
}
span{
    color:orange;
    background-color: #36414e;
}
@media screen and (min-width:450px) {
    main{
        margin-top: 10%;
        position: relative;
        left: 30px;
    }
}